@import '00-settings/_normalize'
@import '00-settings/_settings'

body
	font-family: $main-font

h1, h2, h3
	font-family: $secondary-font

h2
	color: $main-color

header h2
	color: $secondary-color

footer
	background-image: linear-gradient($secondary-color, white)
	padding: 30px

.jumbotron
	padding: 30px
	margin: 0
	background-image: linear-gradient(to right, #5637DD, $main-color, #60106B)
	color: white

.row-content
	padding: 30px 0
	border-bottom: 1px ridge
	min-height: 200px

.navbar
	background-color: #901cad

.breadcrumb
	background-color: white